<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

    <button ion-item *ngFor="let item of camera.data; let i=index" (click)="openModal(camera.data[i])">
      <ion-thumbnail item-start>
        <img [src]="item[0]" *ngIf="item[0]" />
      </ion-thumbnail>
      <p>latitudine: {{ item [1] }}</p>
      <p>longitudine: {{ item [2] }}</p>


    </button>
  </ion-list>

</ion-content>
